.clip[data-v-42d8124d] {
	background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.image-bg[data-v-42d8124d] {
	background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
	filter: blur(68px);
}

.VPHero[data-v-42d8124d] {
	padding-top: 200px;
	padding-bottom: 150px;
}
